# Visual Studio files
*.vcxproj*
*.sln
*.suo
*.user
*.filters
*.idb
*.pdb
*.tlog
*.log
# Visual Studio database files
*.sdf
*.VC.db
.vs/

# Build artifacts
build/
*.exe
*.dll
*.o
*.out

# Other
ConsoleApplication1/ # If moved/deleted
.vscode/
